
.intro{
	background-color: #F8F9FB;
	padding:5px;
}
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mytext {
    padding-left: 20px;
    float: left;
  }

